.boxes {
  border: 3px solid red;
  position: relative;
  width: 500px;
  height: 500px;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.box-one {
  border: 3px solid blue;
  position: absolute;
  left: 90px;
  top: 160px;
}

.box-two {
  border: 3px solid black;
  position: absolute;
  left: 200px;
  top: 160px;
  z-index: -1;
}

.box-three {
  border: 3px solid red;
  position: absolute;
  left: 310px;
  top: 160px;
  z-index: -1;
}

.box-four {
  border: 3px solid gold;
  position: absolute;
  left: 140px;
  top: 210px;
  z-index: -2;
}

.box-five {
  border: 3px solid green;
  position: absolute;
  left: 250px;
  top: 210px;
  z-index: -2;
}
